# 季度数据处理

In [1]:
import pandas as pd
import numpy as np
# 读取财务数据 - 利润表数据 (FS_Comins: Financial Statement - Comprehensive Income Statement)
income_statement_df = pd.read_csv('FS_Comins.csv')

# 读取财务数据 - 资产负债表数据 (FS_Combas: Financial Statement - Combined Balance Sheet) 
balance_sheet_df = pd.read_csv('FS_Combas.csv')

# 读取公司治理数据 - 股东持股数据 (CG_Sharehold: Corporate Governance - Shareholding)
shareholding_df = pd.read_csv('CG_Sharehold.csv')

# 读取公司治理数据 - 管理层股权薪酬数据 (CG_ManagerShareSalary: Corporate Governance - Manager Share Salary)
manager_compensation_df = pd.read_csv('CG_ManagerShareSalary.csv')

# 读取企业基本信息数据 - 包含成立日期和上市日期 (CG_Co: Corporate Governance - Company)
company_info_df = pd.read_csv('CG_Co.csv')

# 读取托宾Q值数据 (FI_T10: Financial Indicators - Tobin's Q)
tobins_q_df = pd.read_csv('FI_T10.csv')

#读取行业分类数据
industry_df = pd.read_csv('STK_IndustryClassAnl2.csv')

#读取增长率数据
growth_df = pd.read_csv('FI_T8.csv')

#读取treat数据
treat = pd.read_csv('treat.csv')

#读取当期净利润数据
current_net_profit_df = pd.read_csv('FS_Comins_current.csv')

# 重命名利润表数据的变量
income_statement_df = income_statement_df.rename(columns={
    'Stkcd': 'stock_code',           # 证券代码
    'ShortName': 'company_name',     # 证券简称
    'Accper': 'report_date',         # 统计截止日期
    'Typrep': 'report_type',         # 报表类型 (A=合并报表, B=母公司报表)
    'B001101000': 'operating_revenue',  # 营业收入
    'B002000000': 'net_profit'       # 净利润
})

# 重命名资产负债表数据的变量
balance_sheet_df = balance_sheet_df.rename(columns={
    'Stkcd': 'stock_code',           # 证券代码
    'ShortName': 'company_name',     # 证券简称
    'Accper': 'report_date',         # 统计截止日期
    'Typrep': 'report_type',         # 报表类型 (A=合并报表, B=母公司报表)
    'A001218000': 'intangible_assets_net',  # 无形资产净额
    'A001220000': 'goodwill_net',    # 商誉净额
    'A001000000': 'total_assets',    # 资产总计
    'A002000000': 'total_liabilities'  # 负债合计
})

# 重命名股东持股数据的变量 (已更新为持股比例数据)
shareholding_df = shareholding_df.rename(columns={
    'Stkcd': 'stock_code',           # 证券代码
    'Reptdt': 'report_date',         # 统计截止日期
    'S0101b': 'shareholder_name',    # 股东名称
    'S0501b': 'shareholding_rank',   # 持股排名
    'S0301b': 'shareholding_pct'     # 持股比例(%)
})

# 重命名管理层股权薪酬数据的变量
manager_compensation_df = manager_compensation_df.rename(columns={
    'Symbol': 'stock_code',          # 证券代码
    'Enddate': 'report_date',        # 统计截止日期
    'StatisticalCaliber': 'statistical_scope',  # 统计口径 (1=年末在职人员, 2=本年度所有人员)
    'DirectorNumber': 'director_count',  # 董事人数
    'IndependentDirectorNumber': 'independent_director_count'  # 独立董事人数
})

# 重命名企业基本信息数据的变量
company_info_df = company_info_df.rename(columns={
    'Stkcd': 'stock_code',           # 证券代码
    'Stknme': 'company_name',        # 证券中文简称
    'ListedDate': 'listed_date',     # 上市日期
    'EstablishDate': 'establish_date'  # 成立日期
})

# 重命名托宾Q值数据的变量
tobins_q_df = tobins_q_df.rename(columns={
    'Stkcd': 'stock_code',           # 证券代码
    'ShortName': 'company_name',     # 证券简称
    'Accper': 'report_date',         # 统计截止日期
    'Source': 'source',              # 公告来源
    'Indcd': 'industry_code',        # 行业代码
    'Indnme': 'industry_name',       # 行业名称
    'F100901A': 'tobins_q_a',        # 托宾Q值A: 市值A/资产总计
    'F100902A': 'tobins_q_b',        # 托宾Q值B: 市值A/(资产总计-无形资产-商誉)
    'F100903A': 'tobins_q_c',        # 托宾Q值C: 市值B/资产总计
    'F100904A': 'tobins_q_d'         # 托宾Q值D: 市值B/(资产总计-无形资产-商誉)
})

industry_df = industry_df.rename(columns={
    'Symbol': 'stock_code',           # 证券代码
    'EndDate': 'report_date',     # 统计截止日期
})


treat = treat.rename(columns={
    'code': 'stock_code',           # 证券代码
})

growth_df = growth_df.rename(
    columns={
        "Stkcd": "stock_code",  # 证券代码
        "Accper": "report_date",  # 统计截止日期
        "F081601B": "growth",
    }
)




income_statement_df = income_statement_df[~income_statement_df['report_date'].str.endswith('01-01')]
balance_sheet_df = balance_sheet_df[~balance_sheet_df['report_date'].str.endswith('01-01')]
shareholding_df = shareholding_df[~shareholding_df['report_date'].str.endswith('01-01')]
tobins_q_df = tobins_q_df[~tobins_q_df['report_date'].str.endswith('01-01')]
tobins_q_df.drop(columns=['industry_code','industry_name'],inplace=True)
income_statement_df.drop(columns=['report_type','company_name'], inplace=True)
shareholding_df.drop(columns=['shareholder_name','shareholding_rank'],inplace=True)
tobins_q_df.drop(columns=['source','company_name'],inplace=True)
manager_compensation_df['year'] = pd.to_datetime(manager_compensation_df['report_date'],errors='coerce').dt.year
manager_compensation_df.drop(columns=['report_date','statistical_scope'],inplace=True)
company_info_df['est_year'] = pd.to_datetime(company_info_df['establish_date'],errors='coerce').dt.year
company_info_df.drop(columns=['company_name'],inplace=True)
income_statement_df = income_statement_df.sort_values(['stock_code', 'report_date'])
income_statement_df['year'] = pd.to_datetime(income_statement_df['report_date'],errors='coerce').dt.year
income_statement_df['quarter'] = pd.to_datetime(income_statement_df['report_date'],errors='coerce').dt.quarter
income_statement_df['year_quarter'] = income_statement_df['year'].astype(str) + 'Q' + income_statement_df['quarter'].astype(str)
income_statement_df = income_statement_df.sort_values(['stock_code', 'year', 'quarter'])
# 从累计值还原为当季值
group_cols = ['stock_code', 'year']
income_statement_df[['operating_revenue_q', 'net_profit_q']] = (
    income_statement_df.groupby(group_cols)[['operating_revenue', 'net_profit']].diff()
)
# 一季度即为累计值本身
_q1_mask = income_statement_df['quarter'] == 1
income_statement_df.loc[_q1_mask, 'operating_revenue_q'] = income_statement_df.loc[_q1_mask, 'operating_revenue']
income_statement_df.loc[_q1_mask, 'net_profit_q'] = income_statement_df.loc[_q1_mask, 'net_profit']
del _q1_mask, group_cols
# 修复warning: 明确指定fill_method=None来避免默认的前向填充行为
income_statement_df['operating_revenue_yoy'] = income_statement_df.groupby(['stock_code', 'quarter'])['operating_revenue'].pct_change(fill_method=None)
income_statement_df.drop(columns=['year', 'quarter', 'year_quarter'], inplace=True)
industry_df['report_date'] = pd.to_datetime(industry_df['report_date'],errors='coerce').dt.strftime('%Y-%m-%d')
industry_df['year'] = pd.to_datetime(industry_df['report_date'],errors='coerce').dt.year
industry_df.drop(columns=['report_date'],inplace=True)
growth_df.drop(columns=['ShortName','Typrep','Source'],inplace=True)

In [2]:
income_statement_df

,stock_code,report_date,operating_revenue,net_profit,operating_revenue_q,net_profit_q,operating_revenue_yoy
1,1,2014-03-31,NaN,5.054000e+09,NaN,5.054000e+09,NaN
2,1,2014-06-30,NaN,1.007200e+10,NaN,5.018000e+09,NaN
3,1,2014-09-30,NaN,1.569400e+10,NaN,5.622000e+09,NaN
4,1,2014-12-31,NaN,1.980200e+10,NaN,4.108000e+09,NaN
6,1,2015-03-31,NaN,5.629000e+09,NaN,5.629000e+09,NaN
...,...,...,...,...,...,...,...
238119,920819,2024-06-30,2.878969e+09,-8.262285e+07,1.504890e+09,-5.126033e+07,-0.025673
238120,920819,2024-09-30,4.327541e+09,-2.035546e+08,1.448573e+09,-1.209318e+08,-0.015393
238121,920819,2024-12-31,5.829882e+09,-5.959801e+08,1.502341e+09,-3.924254e+08,-0.006548
238122,920819,2025-03-31,1.387276e+09,6.815504e+05,1.387276e+09,6.815504e+05,0.009604
238123,920819,2025-06-30,2.966388e+09,1.296212e+07,1.579112e+09,1.228057e+07,0.030365

In [3]:
temp = pd.merge(income_statement_df, balance_sheet_df, on=['stock_code',  'report_date'], how='inner')
temp = temp[temp['stock_code'] <800000]
temp = pd.merge(temp, shareholding_df, on=['stock_code',  'report_date'], how='inner')
temp = pd.merge(temp, tobins_q_df, on=['stock_code',  'report_date'], how='inner')
temp['year'] = pd.to_datetime(temp['report_date'],errors='coerce').dt.year
temp = pd.merge(temp, manager_compensation_df, on=['stock_code',  'year'], how='inner')
temp = pd.merge(temp, company_info_df, on=['stock_code'], how='inner')
temp = pd.merge(temp, industry_df, on=['stock_code',  'year'], how='inner')
temp = pd.merge(temp, treat, on=['stock_code'], how='inner')
temp = pd.merge(temp, growth_df, on=['stock_code',  'report_date'], how='inner')

In [4]:
temp['size'] = np.log(temp['total_assets']+1)
temp['age'] = np.log(temp['year'] - temp['est_year']+1)
temp['leverage'] = temp['total_liabilities']/temp['total_assets']
temp[['intangible_assets_net','goodwill_net']] = temp[['intangible_assets_net','goodwill_net']].fillna(0)
temp['tangible_assets'] = temp['total_assets'] - temp['intangible_assets_net'] - temp['goodwill_net']
temp['ppe_assets'] = temp['tangible_assets']/temp['total_assets']
temp['roa'] = temp['net_profit_q']/temp['total_assets']
temp['independent_ratio'] = temp['independent_director_count'].fillna(0)/temp['director_count']
temp = temp[~temp['IndustryCode1'].astype(str).str.startswith('J')]

In [5]:
controls = temp[
    [
        "stock_code",
        "report_date",
        "size",
        "age",
        "leverage",
        "ppe_assets",
        "growth",
        "roa",
        "independent_ratio",
        "shareholding_pct",
        "IndustryCode1",
        "IndustryName1",
        "IndustryCode2",
        "IndustryName2",
        "tobins_q_a",
        "tobins_q_b",
        "tobins_q_c",
        "tobins_q_d",
        "year",
        "treat"
    ]
]

# Remove stock codes that only have samples after 
stock_codes_before = controls[controls['year'] < 2025]['stock_code'].unique()
controls = controls[controls['stock_code'].isin(stock_codes_before)]
# Generate year-quarter variable
controls['year_quarter'] = pd.to_datetime(controls['report_date'], errors='coerce').dt.to_period('Q')
controls.rename(columns={'stock_code':'code'},inplace=True)

In [6]:
# Generate year-quarter dummy variables named like y2019q1
# Assumes controls['year_quarter'] is a pandas Period with quarterly freq
_yq_labels = 'y' + controls['year_quarter'].astype(str).str.lower()
_yq_dummies = pd.get_dummies(_yq_labels, dtype=int)
controls = pd.concat([controls, _yq_dummies], axis=1)

# Optional: clean up temp variables
del _yq_labels, _yq_dummies
treat_median = treat['treat'].median()
controls['treat01'] = controls['treat'].apply(lambda x: 1 if x > treat_median else 0)

In [7]:
# Create event-year-quarter interaction variables
# event_y2019q1 = treat * y2019q1, event_y2019q1_01 = treat01 * y2019q1
_ev_labels = 'y' + controls['year_quarter'].astype(str).str.lower()
_ev_dummies = pd.get_dummies(_ev_labels)

# Ensure binary treat01 exists
if 'treat01' not in controls.columns:
    controls['treat01'] = (controls['treat'] > 0).astype(np.int8)

for _col in _ev_dummies.columns:
    controls[f'event_{_col}'] = _ev_dummies[_col].astype(np.int8) * controls['treat']
    controls[f'event01_{_col}'] = _ev_dummies[_col].astype(np.int8) * controls['treat01']

# Cleanup
del _ev_labels, _ev_dummies

In [8]:
# Generate year dummy variables and their interactions
# y2019 dummies, event_y2019 = treat*y2019, event_y2019_01 = treat01*y2019
_year_labels = 'y' + controls['year'].astype(int).astype(str)
_year_dummies = pd.get_dummies(_year_labels)

# Ensure binary treat01 exists
if 'treat01' not in controls.columns:
    controls['treat01'] = (controls['treat'] > 0).astype(np.int8)

# Attach year dummies
controls = pd.concat([controls, _year_dummies], axis=1)

# Interactions
for _col in _year_dummies.columns:
    controls[f'yevent_{_col}'] = _year_dummies[_col].astype(np.int8) * controls['treat']
    controls[f'y01event_{_col}'] = _year_dummies[_col].astype(np.int8) * controls['treat01']

# Cleanup
del _year_labels, _year_dummies

In [9]:
# Create sequential time label for each year-quarter in controls (time=1 for earliest quarter)
_period_idx = pd.PeriodIndex(controls['year_quarter'], freq='Q')
_unique_periods = pd.PeriodIndex(_period_idx.dropna().unique(), freq='Q').sort_values()
_time_map = {p: i + 1 for i, p in enumerate(_unique_periods)}
controls['time'] = pd.Series([_time_map.get(p, np.nan) for p in _period_idx], index=controls.index).astype('Int64')

# Cleanup
del _period_idx, _unique_periods, _time_map

In [10]:
# Convert period column to string before saving to Stata
controls_copy = controls.copy()
controls_copy['year_quarter'] = controls_copy['year_quarter'].astype(str)

# Define variable labels for Stata
variable_labels = {
    'code': '证券代码',
    'report_date': '报告期',
    'year_quarter': '年-季度',
    'size': '规模 ln(资产总计+1)',
    'age': '公司年龄 ln(年-成立年+1)',
    'leverage': '资产负债率',
    'ppe_assets': '有形资产占比',
    'growth': '营业收入同比增速',
    'roa': '资产回报率 ROA',
    'independent_ratio': '独立董事占比',
    'shareholding_pct': '持股比例(%)',
    'IndustryCode1': '一级行业代码',
    'IndustryName1': '一级行业名称',
    'IndustryCode2': '二级行业代码',
    'IndustryName2': '二级行业名称',
    'tobins_q_a': '托宾Q_A',
    'tobins_q_b': '托宾Q_B',
    'tobins_q_c': '托宾Q_C',
    'tobins_q_d': '托宾Q_D',
    'year': '年份',
    'treat': '处理变量 treat'
}

# Save to Stata with labels
controls_copy.to_stata(
    'data/processed/reg_base.dta',
    version=118,
    write_index=False,
    data_label='回归分析基础数据（季度）',
    variable_labels=variable_labels
)

# controls_copy[controls_copy['report_date'].str.endswith('12-31')].to_stata(
#     'data/processed/reg_base_year.dta',
#     version=118,
#     write_index=False,
#     data_label='回归分析基础数据（年度）',
#     variable_labels=variable_labels
# )

In [11]:
controls_copy

,code,report_date,size,age,leverage,ppe_assets,growth,roa,independent_ratio,shareholding_pct,...,y01event_y2020,yevent_y2021,y01event_y2021,yevent_y2022,y01event_y2022,yevent_y2023,y01event_y2023,yevent_y2024,y01event_y2024,time
40,2,2015-03-31,26.988644,3.465736,0.779098,0.997901,-0.893159,0.001726,0.363636,14.90,...,0,0.0,0,0.0,0,0.000000,0,0.000000,0,1
41,2,2015-06-30,27.009148,3.465736,0.780608,0.997849,3.651550,0.010954,0.363636,14.89,...,0,0.0,0,0.0,0,0.000000,0,0.000000,0,2
42,2,2015-09-30,27.070293,3.465736,0.787795,0.997887,-0.291089,0.004816,0.363636,15.23,...,0,0.0,0,0.0,0,0.000000,0,0.000000,0,3
43,2,2015-12-31,27.138846,3.465736,0.777015,0.997961,2.953469,0.026846,0.363636,15.23,...,0,0.0,0,0.0,0,0.000000,0,0.000000,0,4
44,2,2016-09-30,27.351214,3.496508,0.810123,0.998275,-0.297828,0.005550,0.363636,15.24,...,0,0.0,0,0.0,0,0.000000,0,0.000000,0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128398,689009,2023-12-31,23.107397,2.302585,0.489964,0.909423,-0.142990,0.020078,0.500000,7.16,...,0,0.0,0,0.0,0,0.479722,1,0.000000,0,36
128399,689009,2024-03-31,23.117245,2.397895,0.505969,0.911883,-0.049572,0.012367,0.500000,7.22,...,0,0.0,0,0.0,0,0.000000,0,0.479722,1,37
128400,689009,2024-06-30,23.286332,2.397895,0.560834,0.926073,0.601617,0.035477,0.500000,7.20,...,0,0.0,0,0.0,0,0.000000,0,0.479722,1,38
128401,689009,2024-09-30,23.378702,2.397895,0.568995,0.928249,0.032888,0.026270,0.500000,7.20,...,0,0.0,0,0.0,0,0.000000,0,0.479722,1,39
128402,689009,2024-12-31,23.475519,2.397895,0.602344,0.934192,-0.223759,0.007373,0.500000,7.20,...,0,0.0,0,0.0,0,0.000000,0,0.479722,1,40

In [12]:
controls['year'] = pd.to_datetime(controls['report_date'],errors='coerce').dt.year
controls['year'].value_counts()

year
2024    16109
2023    15905
2022    15217
2021    14224
2020    12835
2019    11905
2018    11211
2017    10335
2016     8944
2015     8183
Name: count, dtype: int64

# 年度数据处理

In [ ]:
import pandas as pd
import numpy as np

base = pd.read_csv("常用变量查询（年度）.csv")
goodwill = pd.read_csv("goodwill.csv")
treat = pd.read_csv("treat.csv")
treat01 = pd.read_stata('treat01.dta')
industry = pd.read_csv('industry.csv')
industry.rename(columns={'Stkcd':'code','accper':'year'},inplace=True)
industry.drop(columns=['stknme'],inplace=True)
tobin = pd.read_stata('tobin.dta')
stpt = pd.read_stata('stpt.dta')
base.rename(
    columns={
        "Stkcd": "code",
        "accper": "year",
        "stknme": "name",
        "F050201B": "roa",
        "B001101000": "revenue",
        "C001020000": "salary",
        "A001000000a": "asset",
        "Estbdt2": "age",
        "F011201A": "lev",
        "A001218000": "intangible",
        "F081602C": "growth",
        "Shrcr1": "share1",
    },
    inplace=True,
)

goodwill["year"] = pd.to_datetime(goodwill["Accper"], errors="coerce").dt.year
temp = pd.merge(base, goodwill, on=["code", "year"], how="inner")
temp["goodwill"] = temp["goodwill"].fillna(0)
temp = pd.merge(temp, treat, on=['code'], how='inner')
temp = pd.merge(temp, treat01, on=['code'], how='inner')
temp = pd.merge(temp, industry, on=['code', 'year'], how='inner')
temp = temp[~temp['indcdzx'].astype(str).str.startswith('J')]
temp = pd.merge(temp, tobin, on=['code', 'year'], how='inner')
temp = pd.merge(temp, stpt, on=['code', 'year'], how='left')

In [2]:
temp['size'] = np.log(temp['asset']+1)
temp['ppe'] = (temp['asset']-temp['intangible']-temp['goodwill'])/temp['asset']
temp['independent_ratio'] = temp['IndDirector']/temp['Boardsize2']
temp = temp[temp['year']>2014]
filterYear = temp[temp['year']<2022]['code'].unique()
temp = temp[temp['code'].isin(filterYear)]
temp = temp[temp['code']<800000]
temp = temp[temp['STPT']==0]

In [3]:
temp.to_stata(
    r"C:\Users\zy222\OneDrive\论文project\人工智能暴露相关选题\reg_code\dta_files\reg_base_year_0928.dta",
    version=118,
    write_index=False,
    data_label="回归分析基础数据（年度）",
)

In [ ]:
base.rename(
    columns={
        "Stkcd": "code",
        "accper": "year",
        "stknme": "name",
        "F050201B": "roa",
        "B001101000": "revenue",
        "C001020000": "salary",
        "A001000000a": "asset",
        "Estbdt2": "age",
        "F011201A": "lev",
        "A001218000": "intangible",
        "F081602C": "growth",
        "Shrcr1": "share1",   
    },
    inplace=True,
)

        Stkcd  accper stknme  F081601B  F050201B    B001101000    C001020000
0           1    2015   平安银行  0.021824  0.008721           NaN  1.287100e+10
1           1    2016   平安银行 -0.019689  0.007652           NaN  1.376200e+10
2           1    2017   平安银行  0.020611  0.007138           NaN  1.434500e+10
3           1    2018   平安银行  0.215777  0.007260           NaN  1.619400e+10
4           1    2019   平安银行  0.017167  0.007158           NaN  1.809000e+10
...       ...     ...    ...       ...       ...           ...           ...
41681  920819    2020   颖泰生物  0.191036  0.029304  6.224806e+09  5.269580e+08
41682  920819    2021   颖泰生物  0.458739  0.038241  7.353731e+09  6.209626e+08
41683  920819    2022   颖泰生物 -0.118025  0.084307  8.160946e+09  7.035040e+08
41684  920819    2023   颖泰生物  0.022732  0.007212  5.868305e+09  7.552007e+08
41685  920819    2024   颖泰生物  0.037118 -0.050057  5.829882e+09  6.755505e+08

[41686 rows x 7 columns]